header {
    background: $clr-white;
}

header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: $clr-black;
    text-decoration: none;
}

/* navbar */
nav {
    display: flex;
    align-items: center;
}
  nav a {
    margin-left: 10px;
  }
  nav button {
    background: $clr-white;
    color: $clr-primary;
    border: 2px solid $clr-primary;
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
  }