.home {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 40px;
  }

  .workout-details {
    background: $clr-white;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  }

  .workout-details h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: $clr-primary;
  }

  .workout-details p {
    margin: 0;
    font-size: 0.9em;
    color: $clr-grey-one;
  }

  .workout-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: $clr-white;
    padding: 6px;
    border-radius: 50%;
    color: $clr-black;
  }